.posts{
  overflow: auto;
  max-height: 500px;
}
@media(max-width:450px){
  .posts{
    overflow: auto;
    max-height: 300px;
  }
}

.comments{
  overflow: auto;
  max-height: 500px;
}
@media(max-width:450px){
  .comments{
    overflow: auto;
    max-height: 300px;
  }
}